# ====================
# 项目：股票数据库V1
# 描述：根目录 .gitignore 文件
# 版本：v0.1.0
# ====================

# ------------增加项------
config/*.xls
tests/demo/
tests/demo*

secrets.yaml
config.local.yaml

# 项目建设备忘录/笔记
notedb/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# 虚拟环境
venv/
env/
ENV/

# 环境变量 敏感信息
.env

# 日志文件
logs/
*.log

# 数据文件（可重新下载）
data/cache/
data/raw/
data/exports/
data/backup/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# 系统文件
.DS_Store
Thumbs.db

# 临时文件
*.tmp
*.temp
*.bak
*.backup

